@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Outfit:wght@100..900&display=swap');

*{
  max-width: 100vw;
  font-family:Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 350;
}

p strong{
  font-weight: 550;
}

body{
  background-color: #568f517d;
}

h1, h2{
  color: #28643a;
  margin-top: 1rem;
  font-family: "Autour One", serif;
  font-weight: 600;
  font-style: normal;
}

img{
  width: 45vw;
  height: fit-content;
}

#content{
  display: flexbox;
  width: 45vw;
  margin: auto auto;
  background-color: beige;
  border-radius: 10px;
  padding: 30px;
}

.Info{
  margin: 4rem 0rem;
}

hr {
  display: block;
  width: 75px;
  border: none;
  border-bottom: solid 2px #685011;
  
  position: relative;
  bottom: 0;
}